<ion-modal-view>
  <ion-header-bar>
             <h1 class="title">Vehicle Setup</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeCar()">Later</button>
    </div>
  </ion-header-bar>
  <ion-content>


  <div class="item item-calm item-avatar item-icon-right" href="{edit_vehicle_photo}">
    <img src="img/cars/vw-cabriolet">
    <h2>1988 Volkswagen Cabriolet</h2>
    <h5>4 seats, 32mpg</h5>
    <i class="icon">$.12/mi</i>
  </div>

<!--Profile Setup-->
    <form ng-submit="#">
      <div class="list">
        <label class="item item-input item-floating-label" ng-show="true">
            <input type="text" placeholder="Make">
        </label>
        <label class="item item-input item-floating-label" ng-show="true">
            <input type="text" placeholder="Model">
        </label>
        <label class="item item-input item-floating-label" ng-show="true">
            <input type="tel" placeholder="Year">
        </label>
        <button class="button button-block button-outline button-calm" ng-click="closeCar()">Save</button>
      </div>
    </form>
    
  </ion-content>
</ion-modal-view>