<ion-view view-title="Dashboard">
  <ion-content class="has-header">
<!--
     <div class="bar bar-header bar-dark">
  <h1 class="title">Profile</h1>
  <button class="button icon ion-gear-a">&nbsp;Edit</button>
    </div>
-->
<!--
<div class="bar bar-header">
  <button class="button icon ion-navicon"></button>
  <h1 class="title">Header Buttons</h1>
  <button class="button">Edit</button>
</div>
-->
<!--
<div class="list card">
    <div class="button-bar">
  <a class="button button-outline button-energized">Find a ride</a>
  <a class="button button-outline button-balanced">Post a ride</a>
    </div>
</div>
-->

<div class="list card">

  <div class="item item-avatar" ng-controller="ProfileCtrl">
   <img src="img/profilepics/John.jpg"/>
<!--    <img src="http://graph.facebook.com/{{user.id}}/picture?width=270&height=270"/>-->
    <h2>John, 25</h2>
<!--    <h2>{{user.name}}</h2>-->
    <i class="icon ion-star"></i>
    <i class="icon ion-star"></i>
    <i class="icon ion-star"></i>
    <i class="icon ion-star"></i>
    <i class="icon ion-star"></i>
  </div>
  <div class="item">
      <h2>Stats</h2>
      <div class="row">
        <div class="col col-50">
          <p>Member since 2015 <br>
              3 Passenger trips <br>
              2 Driver trips <br> </p>
        </div>
        <div class="col col-50">
          <p>277 Total Miles <br>
              $23 Money Saved <br>
              7 People Met
          </p>
        </div>
      </div>       
  </div>
  <div class="item">
      <h2>About</h2>
      <div class="row">
        <div class="col">
           <p><i class="icon ion-music-note"></i> Nickelback <br>
               <i class="icon ion-videocamera"></i> Nickelback: Our Story <br>
            <i class="icon ion-bookmark"></i> Control, Exposing the Truth about Guns <br>
          <i class="icon ion-social-dribbble-outline"></i> Oakland Raiders <br> </p>
        </div>
      </div>
  </div>
   
    <div class="item item-avatar">
    <img src="img/cars/vw-cabriolet">
    
     <h2>Car</h2>
      <div class="row">
        <div class="col">
          <button class="button icon-left ion-plus" ng-click="car()">Add a Car</button>
        </div>
      </div>
    </div>
    
<!--
    <div class="item item-avatar">
    <img src="http://lorempixel.com/200/200/transport/">
     <h2>Car</h2>
      <div class="row">
        <div class="col">
          <p>Talking: {} <br>
          Music: {} <br>
          Cargo: {}
          </p>
        </div>
      </div>
    </div>
-->

</div>
    
    
  </ion-content>
</ion-view>
