<ion-modal-view>
  <ion-header-bar>
             <h1 class="title">Go!</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeGo()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
  
<!--Go! Menu-->
    <form ng-submit="doMap()">
      <div class="list">
        <label class="item item-input item-floating-label">
            <input type="text" placeholder="Destination" ng-bind="#destination">
        </label>
        <label class="item item-input item-floating-label">
            <input type="text" placeholder="Start point" ng-bind="#startPlace">
        </label>
        <label class="item item-input item-floating-label">
            <input type="date" placeholder="Date" ng-bind="#date">
        </label>
        <label class="item item-input item-floating-label">
            <input type="time" placeholder="Time" ng-bind="#time">
        </label>
        <div class="button-bar">
            <a ng-click="goDrive()" class="button button-balanced" href="#/app/rideboard">Drive!</a>
            <a ng-click="goRide()" class="button button-energized" href="#/app/rideboard">Ride!</a>
        </div>
      </div>
    </form>
    
  </ion-content>
</ion-modal-view>
