<ion-modal-view>
  <ion-header-bar>
       <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
  
<!--New users-->
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item">
         <p>To use this app you must connect with Facebook.</p>
          <button class="button button-block button-positive icon-left ion-social-facebook" ng-click="fbLogin()"> Connect</button>
        </label>
      </div>
    </form>
    
  </ion-content>
</ion-modal-view>