<ion-view view-title="Cedar City, UT">
 <ion-nav-buttons side="right">
     <button class="button button-assertive" ng-click="go()">Go!</button>
 </ion-nav-buttons>
  <ion-content>
  <div class="item item body item-text-wrap" ng-show="true">
    <map on-create="mapCreated(map)" class="map"></map>
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item">
    0.0 mi.
    </a>
    <a class="tab-item">
    $0 est. cost
    </a>
  </div>
  </div>
  
  
  
  
  </ion-content>
</ion-view>
