<ion-view view-title="{currentLocation}">
 <ion-nav-buttons side="right">
     <button class="button button-assertive" ng-click="go()">Go!</button>
 </ion-nav-buttons>
  <ion-content>
  <div class="item item body item-text-wrap" ng-show="true">
    <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item">
    {distance}mi.
    </a>
    <a class="tab-item">
    ${est-cost}
    </a>
  </div>
  </div>
  
  
  
  
  </ion-content>
</ion-view>
