<ion-view view-title="{currentLocation}">
 <ion-nav-buttons side="right">
     <button class="button button-assertive" ng-click="go()">Go!</button>
 </ion-nav-buttons>
  <ion-content>
  <div class="item item body item-text-wrap" ng-show="true" ng-controller="MapCtrl">
    <div id="map"  data-tap-disabled="true"></div>
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a href="{{compose-message}}" class="tab-item">
    {distance}mi.
    </a>
    <a href="{{offer-ride}}" class="tab-item">
    ${est-cost}
    </a>
  </div>
  </div>
  
  
  
  
  </ion-content>
</ion-view>
