<ion-view view-title="Messages">
  <ion-content ng-controller="RideboardCtrl">
<!--  message on menu  -->
<div class="card">
    <div class="list">
      <a ng-click="toggleMessage(1)" class="item item-text-wrap item-avatar" href="">
      <img src="img/profilepics/Doug.jpg">
        <h2>{{messageTwo[0].firstName}} - <i class="icon ion-star"></i><i class="icon ion-star"></i><i class="icon ion-star"></i><i class="icon ion-star"></i><i class="icon ion-star"></i></h2><h5>{{messageTwo[0].dateStamp}} | {{messageTwo[0].timeStamp}}</h5>
        <p>{{messageTwo[0].message}}</p>
      </a>
      
      <a ng-show="isMessageShown(1)" class="item item-text-wrap item-avatar-right" href="">
      <img src="img/profilepics/John.jpg">
        <h5>{{messageTwo[1].dateStamp}} | {{messageTwo[1].timeStamp}}</h5>
        <p>{{messageTwo[1].message}}</p>
      </a>
      
      <a ng-show="isMessageShown(1)" class="item item-text-wrap item-avatar" href="">
      <img src="img/profilepics/Doug.jpg">
        <h5>{{messageTwo[2].dateStamp}} | {{messageTwo[2].timeStamp}}</h5>
        <p>{{messageTwo[2].message}}</p>
      </a>
      
      <a ng-show="isMessageShown(1)" class="item item-text-wrap item-avatar-right" href="">
      <img src="img/profilepics/John.jpg">
        <h5>{{messageTwo[3].dateStamp}} | {{messageTwo[3].timeStamp}}</h5>
        <p>{{messageTwo[3].message}}</p>
      </a>
      
      <a ng-show="isMessageShown(1)" class="item item-text-wrap item-avatar" href="">
      <img src="img/profilepics/Doug.jpg">
        <h5>{{messageTwo[4].dateStamp}} | {{messageTwo[4].timeStamp}}</h5>
        <p>{{messageTwo[4].message}}</p>
      </a>
      
      <a ng-show="isMessageShown(1)" class="item item-text-wrap item-avatar-right" href="">
      <img src="img/profilepics/John.jpg">
        <h5>{{messageTwo[5].dateStamp}} | {{messageTwo[5].timeStamp}}</h5>
        <p>{{messageTwo[5].message}}</p>
      </a>
    </div>   
 </div>
 
<!--on entry-->

<!--  full message  -->
 <div class="card">
    <div class="list">
      <a ng-click="toggleMessage(2)" class="item item-text-wrap item-avatar" href="">
      <img src="img/profilepics/Paul.jpg">
        <h2>{{messageOne[0].firstName}} - <i class="icon ion-star"></i><i class="icon ion-star"></i><i class="icon ion-star"></i><i class="icon ion-star"></i><i class="icon ion-star"></i></h2><h5>{{messageOne[0].dateStamp}} | {{messageOne[0].timeStamp}}</h5>
        <p>{{messageOne[0].message}}</p>
      </a>
      
      <a ng-show="isMessageShown(2)" class="item item-text-wrap item-avatar-right" href="">
      <img src="img/profilepics/John.jpg">
        <h5>{{messageOne[1].dateStamp}} | {{messageOne[1].timeStamp}}</h5>
        <p>{{messageOne[1].message}}</p>
      </a>
      
      <a ng-show="isMessageShown(2)" class="item item-text-wrap item-avatar" href="">
      <img src="img/profilepics/Paul.jpg">
        <h5>{{messageOne[2].dateStamp}} | {{messageOne[2].timeStamp}}</h5>
        <p>{{messageOne[2].message}}</p>
      </a>
      
      <a ng-show="isMessageShown(2)" class="item item-text-wrap item-avatar-right" href="">
      <img src="img/profilepics/John.jpg">
        <h5>{{messageOne[3].dateStamp}} | {{messageOne[3].timeStamp}}</h5>
        <p>{{messageOne[3].message}}</p>
      </a>
    </div>   
 </div>
 
  </ion-content>
</ion-view>
