<ion-view view-title="Rideboard" ng-controller="RideboardCtrl">
  <ion-content>

<!--This is going to be a subheader for refining search parameters-->
<!--
<div class="bar bar-header item-input-insert">
    <label class="item-input-wrapper">
    <input type="search" placeholer="Radius">
    <input type="search" placeholer="Destination">
    <input type="search" placeholer="Date">
    </label>
</div>
-->

<!--driver-->
    <ion-list>
       <div class="card" ng-repeat="ride in rides">
              <a class="item item-balanced item-avatar item-icon-right"
               ng-click="toggleRide(ride)" 
               ng-class="{active:
               isRideShown(ride)}">
            <img src="http://lorempixel.com/200/200/people/">
            <h2>{{ride.firstName}}{{ride.rank}}, {{ride.age}}</h2>
            <h5>{{ride.datestamp}} | {{ride.timestamp}}</h5>
            <p>{{ride.pointA}} > {{ride.pointB}</p>
            <i class="icon">$5</i>
          </a>
              <div class="item item body item-text-wrap" ng-show="isRideShown(ride)">
                  <p>{{ride.rideDescription}}</p>
                <br>
                <div class="item tabs tabs-secondary tabs-icon-left">
                  <a href="{{compose-message}}" class="tab-item">
                      Message <i class="icon ion-email"></i>
                  </a>
                  <a href="{{offer-ride}}" class="tab-item">
                      Request Ride <i class="icon ion-arrow-right-c"></i>
                  </a>
                </div>
              </div>
         </div>




        <!--passenger-->

        <div class="card" ng-show="true">
          <a class="item item-energized item-avatar item-icon-right" href="#">
            <img src="http://lorempixel.com/200/200/people/">
            <h2>{firstname}{rank}, {age}</h2>
            <h5>{datestamp} | {timestamp}</h5>
            <p>{point A} > {point B}</p>
            <i class="icon"></i>
          </a>
          <div class="item item body item-text-wrap" ng-show="">
            <p>Trying to get to Salt Lake this weekend. I heard there's a Lynyrd Skynyrd concert!
            </p>
            <br>
          <div class="item tabs tabs-secondary tabs-icon-left">
            <a href="{{compose-message}}" class="tab-item">
            Message <i class="icon ion-email"></i>
            </a>
            <a href="{{offer-ride}}" class="tab-item">
            Offer Ride <i class="icon ion-arrow-right-c"></i>
            </a>
          </div>
          </div>
        </div>


        <!--your own post-->
        <div class="card" ng-show="true">
          <ion-item class="item item-calm item-avatar item-icon-right"
                ng-click="toggleRide(ride)" 
                ng-class="{active:
                isRideShown(ride)}">
            <img src="http://lorempixel.com/200/200/people/">
            <h2>{firstname}{rank}, {age}</h2>
            <h5>{datestamp} | {timestamp}</h5>
            <p>{point A} > {point B}</p>
            <i class="icon">$5</i>
          </a>
          <div class="item item body item-text-wrap" ng-show="isRideShown(ride)">
            <p>{{ride.description}}
            </p>
            <button class="button button-block button-outline button-assertive">Delete post</button>
          </div>
        </div>

      </ion-list>

  </ion-content>
  
</ion-view>
